body {
    background-image:   url('background.jpg');
    background-size:    cover;
    background-color: #593675;
}

#container {
    position: fixed;
    top:      0px;
    left:     0px;
    right:    0px;
    bottom:   0px;
}

#main-text {
    position:   fixed;
    left:       0px;
    right:      0px;
    bottom:     0px;
    text-align: center;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.25);
}

#names {
    font-size:    100px;
    font-family: 'Amatic SC';
    color:      #ebe2e6;
}

#date {
    display:            inline-block;
    padding:            5px 10px;
    font-size:          25px;
    font-family:        'Lato';
    color:            #402391;
    background-color: #ebe2e6;
    border-radius:      3px;
}



#nav {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
    color:      #ebe2e6;
}


.nav-button {
    display: inline-block;
    /* border: 2px solid rgba(235, 226, 230, 0.3); */
    color: #ebe2e6;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px 20px;
    border-radius: 0px 0px 5px 5px;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.25);
}


@media all and (max-width: 1000px) {
    body {
        background-image:   url('background-mobile.jpg');
    }

    #main-text {
        bottom: 25%;
    }

    #names {
        font-size: 150px;
    }

    #date {
        padding:       10px 20px;
        font-size:     50px;
        border-radius: 8px;
    }

    #nav {
        font-size: 50px;
    }

    .nav-button {
        min-width: 20%;
        margin: 0px 15px;
        padding: 20px 30px;
        border-radius: 0px 0px 7px 7px;
    }
}