body {
    background-image:      url('background.jpg');
    background-size:       cover;
    background-color:    #593675;
    background-attachment: fixed;
    overflow-y:            scroll;
}










#main-nav {
    position:     fixed;
    top:          0px;
    width:        100%;
    text-align:   center;
    font-family: 'Muli';
    font-size:    20px;
    color:      #ebe2e6;
}

.nav-button {
    display:            inline-block;
    min-width:          100px;
    margin:             0px 20px;
    padding:            10px 15px;
    border-radius:      0px 0px 5px 5px;
    text-decoration:    none;
    color:            #ebe2e6;
    background-color: rgba(0, 0, 0, 0.25);
}

#bottom-nav {
    position:   fixed;
    bottom:     0px;
    left:       0px;
    right:      0px;
    padding:    15px;
    text-align: center;
    
}

#bottom-nav a {
    padding: 7px;
    opacity: 0.2;
    text-decoration: none;
}

#bottom-nav img {
    height: 40px;
}

#bottom-nav a:hover {
    opacity: 1;
}

.login-logout {
    position: relative;
    top: -2px;
}










#main-text {
    position:           fixed;
    left:               0px;
    right:              0px;
    bottom:             0px;
    padding-bottom:     30px;
    text-align:         center;
    background-color: rgba(0, 0, 0, 0.25);
}

#names {
    font-family: 'Amatic SC';
    font-size:    100px;
    color:      #ebe2e6;
}

#date {
    display:            inline-block;
    padding:            10px;
    font-family:        'Muli';
    font-size:          20px;
    color:            #402391;
    background-color: #ebe2e6;
    border-radius:      3px;
}








#page {
    width:              95%;
    max-width:          900px;
    margin:             0 auto;
    margin-top:         100px;
    margin-bottom:      150px;
    padding:            20px;
    border-radius:      3px;
    background-color: rgba(89, 54, 117, 0.9);
    box-shadow:         0px 0px 7px 1px rgba(0, 0, 0, 0.35);
}

#title {
    font-size:    100px;
    font-family: 'Amatic SC';
    text-align:   center;
    color:      #ebe2e6;
}

#page-content {
    width:        85%;
    margin:       0 auto;
    font-family: 'Muli';
    font-size:    20px;
    line-height:  25px;
    color:      #ebe2e6;
}

.simple-text {
    margin:      20px 0px;
    font-size:   18px;
    line-height: 25px;
}

.code-text {
    margin:        20px 0px;
    font-family:   monospace;
    font-size:     16px;
    line-height:   20px;
    text-align:    center;
    overflow-wrap: break-word;
}










.item {
    margin: 20px 5px 50px 5px;
}

.question, .from {
    padding: 5px 0px;
    font-weight: bold;
}

.answer, .memory {
    padding:       5px 0px;
    overflow-wrap: break-word;
    font-size:     18px;
    line-height:   25px;
}

#map {
    height: 500px;
}











form {
    margin: 20px 50px;
}

form div {
    text-align: center;
}

form textarea {
    resize: none;
    height: 250px;
}

input {
    -webkit-appearance: none !important;
}

.input {
    width:              90%;
    margin:             20px auto;
    padding:            10px;
    font-family:       'Muli';
    font-size:          20px;
    color:            #ebe2e6;
    background-color: #593675;
    border:             1px solid rgba(235, 226, 230, 0.4);
    border-radius:      3px;
    box-sizing:         content-box;
}

.input:focus {
    outline: none;
    border:  1px solid #ebe2e6;
}

::placeholder {
    color: rgba(235, 226, 230, 0.4);
}










.button, .form-button-wrapper {
    display:          inline-block;
    margin:           20px 10px !important;
    padding:          10px !important;
    min-width:        80px;
    font-family:     'Muli';
    background-color: transparent;
    border:           1px solid rgba(235, 226, 230, 0.2) !important;
    border-radius:    3px;
    cursor:           pointer;
}

.button, .form-button {
    display:          inline-block;
    font-family:     'Muli';
    font-size:        16px;
    font-weight:      bold;
    text-decoration:  none;
    color:          #ebe2e6;
    background-color: transparent;
    cursor:           pointer;
}

.form-button {
    margin:  0px !important;
    padding: 0px !important;
    border:  none;
}

.button:hover, .form-button-wrapper:hover, .form-button-wrapper:hover .form-button, .form-button:hover {
    color:            #402391 !important;
    background-color: #ebe2e6;
    
}

.button-spacer {
    margin: 20px 5px 50px 5px;
}










.count {
    position:           absolute;
    font-family:       'Muli';
    font-size:          16px;
    font-weight:        bold;
}

.count-title {
    top:    20px;
    right: -15px;
}










.center {
    text-align: center;
}

.relative {
    position: relative;
    display:  inline-block;
}










@media all and (max-width: 1000px) {
    body {
        background-image: url('background-mobile.jpg');
        font-size: 50px;
    }

    .nav-button {
        width:         20%;
        margin:        0px 10px;
        padding:       30px 30px;
        font-size:     40px;
        font-weight:   bold;
        border-radius: 0px 0px 7px 7px;
    }

    #bottom-nav a {
        padding: 20px;
    }
    
    #bottom-nav img {
        height: 120px;
    }

    .login-logout {
        top: -5px;
    }

    #main-text {
        padding: 50px 0px 80px;
    }

    #names {
        font-size: 165px;
    }

    #date {
        padding:       15px 25px;
        font-size:     50px;
        border-radius: 7px;
    }

    #page {
        margin-top:         200px;
        margin-bottom:      300px;
        padding:            50px 20px;
        border-radius:      7px;
        box-shadow:         0px 0px 20px 1px rgba(0, 0, 0, 0.35);
    }

    #title {
        font-size: 200px;
    }

    #page-content {
        width:       90%;
        font-size:   20px;
        line-height: 25px;
    }

    .simple-text {
        margin:      20px 0px;
        font-size:   50px;
        line-height: 70px;
    }

    .code-text {
        margin:      100px 0px;
        font-size:   45px;
        line-height: 60px;
    }

    .item {
        margin:      50px 5px 120px 5px;
        font-size:   50px;
        line-height: 70px
    }

    .question, .from, .answer, .memory {
        padding: 15px 0px;
    }

    .answer, .memory {
        font-size:   50px;
        line-height: 70px;
    }

    #map {
        height: 500px;
    }

    form {
        margin: 20px auto;
    }

    form textarea {
        resize: none;
        height: 700px;
    }

    .input {
        margin:             50px auto;
        padding:            30px;
        font-size:          50px;
        border:             2px solid rgba(235, 226, 230, 0.4);
        border-radius:      7px;
    }
    
    .input:focus {
        border:  2px solid #ebe2e6;
    }

    .button, .form-button-wrapper {
        min-width:        300px;
        padding:          50px !important; 
        border:           2px solid rgba(235, 226, 230, 0.2) !important;
        border-radius:    7px;
    }

    .button, .form-button { 
        font-size: 50px;
    }

    .button {
        padding: 50px !important; 
    }

    .form-button-wrapper {
        padding: 35px !important; 
    }

    .button-spacer {
        margin: 20px 5px 50px 5px;
    }

    .count {
        font-size: 50px;
    }
    
    .count-title {
        top:    20px;
        right: -50px;
    }
}
