{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Details</div>

        <div id='page-content'>
            <div class='simple-text'>Please join us at noon for our ceremony at Marconi Gardens, best found by entering Slater Park from Armistice Boulevard.</div>

            <div class='simple-text'>After the ceremony, we would love you to join us at our home for food, drinks, music, and love. Our address is 211 Columbus Ave, Pawtucket, Rhode Island 02861.</div>

            <div class='simple-text'>The ceremony at Marconi Gardens will have a few chairs however will be mostly standing room. There will be a short walk from the car to the gazebo and a few stairs. Please wear comfortable foot wear. We understand that a standing ceremony may not be for everyone and if you are not able to attend we look forward to celebrating with you at the reception!</div>
        </div>
    </div>
{% endblock %}