{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Details</div>

        <div id='page-content'>
            <div class='item'>
                <div class='question'>Ceremony</div>
                <div class='answer'>Please join us at noon on August 24th 2019 for our wedding ceremony at Marconi Gardens, located inside Slater Memorial Park in Pawtucket, Rhode Island. See below for more detailed directions.</div>
            </div>

            <div class='item'>
                <div class='question'>Contact Info</div>
                <div class='answer'>Contact Jaysin at 857-231-2118.</div>
            </div>


            <div class='item'>
                <div class='question'>Getting to the Ceremony</div>
                <div class='answer'>Enter Slater Park from Armistice Boulevard. Marconi Gardens will be on your right, just after the entrance. You should see a white gazebo&mdash;this is where the ceremony will be.</div>

                <div class='spacer'></div>
                <div class='simple-text center'>Maps!</div>

                <div class='center'>
                    <a class='button' href='http://www.google.com/maps/search/?api=1&query=41.875172,-71.342951' target='_blank'>Park Entrance</a>
                    <a class='button' href='http://www.google.com/maps/search/?api=1&query=41.875575,-71.343496' target='_blank'>Ceremony</a>
                </div>
            </div>


            <div class='item'>
                <div class='question'>Parking at the Ceremony</div>
                <div class='answer'>Parking info coming soon...</div>
            </div>


            <div class='item'>
                <div class='question'>Ceremony Accessibility</div>
                <div class='answer'>The ceremony at Marconi Gardens will have a few chairs, but will be mostly standing room. There will be a short walk from the car to the gazebo and a few stairs. Please wear comfortable foot wear. We understand that a standing ceremony may not be for everyone&mdash;if you are not able to attend we look forward to celebrating with you at the reception!</div>
            </div>


            <div class='item'>
                <div class='question'>Reception</div>
                <div class='answer'>After the ceremony, we would love you to join us at our home for food, drinks, music, and love. Please contact the bride and groom for the address.</div>
            </div>

            <div class='item'>
                <div class='question'>BYOB&C</div>
                <div class='answer'>Some alcohol will be provided at the reception, but please feel free to BYOB&C!</div>
            </div>

            <div class='item'>
                <div class='question'>Sunday Beach Day</div>
                <div class='answer'>Please join us at Easton's Beach on Sunday August 25th to celebrate our wedding! Please BYOB, snacks, beach toys, and anything else to make the day fun. We plan on eating at Easton's Beach Snack Bar around 2pm and then spending the rest of the day hanging out with all of you!</div>
            </div>
        </div>
    </div>
{% endblock %}