{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Details</div>

        <div id='page-content'>
            <div class='item'>
                <div class='question'>Ceremony</div>
                <div class='answer'>Please join us at noon on August 24th 2019 for our wedding ceremony at Marconi Gardens, located inside Slater Memorial Park in Pawtucket, Rhode Island. See below for more detailed directions.</div>
            </div>

            <div class='item'>
                <div class='question'>Getting to the Ceremony</div>
                <div class='answer'>Enter Slater Park from Armistice Boulevard. Marconi Gardens will be on your right, just after the entrance. You should see a white gazebo&mdash;this is where the ceremony will be.</div>
            </div>

            <div class='center'><a class='button' href='http://maps.apple.com/?q=41.875318,-71.342802' target='_blank'>Open Map</a></div>

            <div class='item'>
                <div class='question'>Ceremony Accessibility</div>
                <div class='answer'>The ceremony at Marconi Gardens will have a few chairs however will be mostly standing room. There will be a short walk from the car to the gazebo and a few stairs. Please wear comfortable foot wear. We understand that a standing ceremony may not be for everyone and if you are not able to attend we look forward to celebrating with you at the reception!</div>
            </div>

            <div class='item'>
                <div class='question'>Reception</div>
                <div class='answer'>After the ceremony, we would love you to join us at our home for food, drinks, music, and love.</div>
            </div>
        </div>
    </div>
{% endblock %}