{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Gifts</div>

        <div id='page-content'>
            <div class='simple-text'>We truly have everything we <strong>need</strong>&mdash;your presence at our wedding is the only gift we <strong>want</strong>. If you would like to leave us with something sentimental or homemade, or just something weird that made you think of us, that would be tremendously appreciated. Any money will go towards a family fund for when we decide to grow.</div>
        </div>
    </div>
{% endblock %}