<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Gordon Wedding</title>

        <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Amatic+SC&display=block' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Muli&display=block' rel='stylesheet'>
    </head>


    <body>
        <div id='container'>
            {% block body %}{% endblock %}

            <div id='main-nav'>
                <a href='details'  class='nav-button'>Details</a>
                <a href='gifts'    class='nav-button'>Gifts</a>
                <a href='memories' class='nav-button'>Memories</a>
            </div>

            {% if not home %}
                <div id='bottom-nav'><a href='/' title='Home'>
                    <img src="{{ url_for('static', filename='heart.png') }}"></a>
    
                    {% if 'type' in session %}<a href='logout' title='Logout'>
                        <img src="{{ url_for('static', filename='logout.png') }}" class='login-logout'></a>
                    
                    {% else %}<a href='login' title='Bride and Groom Login'>
                        <img src="{{ url_for('static', filename='key.png') }}" class='login-logout'></a>
                    
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </body>
</html>