<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Gordon Wedding</title>

        <link rel='stylesheet' href="{{ url_for('static', filename='styles.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Amatic+SC&display=block' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Muli:400,700&display=swap' rel='stylesheet'>
    </head>


    <body>
        <div id='container'>
            {% block body %}{% endblock %}

            <div id='main-nav'>
                <a href='details'  class='nav-button'>Details</a>
                <a href='gifts'    class='nav-button'>Gifts</a>
                <a href='memories' class='nav-button'>Memories</a>
            </div>

            {% if not home %}
                <div id='bottom-nav'><a href='/' title='Home'>
                    <img src="{{ url_for('static', filename='heart.png') }}"></a>

                    {% if 'type' in session %}
                        <a href='/settings' title='Settings'><img src="{{ url_for('static', filename='gear.png') }}" class='login-logout'></a>
                        <a href='/logout' title='Logout'><img src="{{ url_for('static', filename='logout.png') }}" class='login-logout'></a>

                    {% else %}<a href='/login' title='Bride and Groom Login'>
                        <img src="{{ url_for('static', filename='key.png') }}" class='login-logout'>
                    </a>

                    {% endif %}

                    <a href='/feedback' title='Trouble with the website?'>
                        <img src="{{ url_for('static', filename='feedback.png') }}" class='login-logout'>
                    </a>
                </div>
            {% endif %}
        </div>
    </body>
</html>