{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Memories</div>

        <div id='page-content'>
            <div class='center button-spacer'>
                <a href='share' class='button'>Share a Memory</a>

                {% if 'type' in session %}
                    <div class='relative'>

                        <a href='review' class='button'>Review</a>
                        {% if count > 0 %}<div class='count count-button'>{{ count }}</div>{% endif %}
                    </div>
                {% endif %}
            </div>

            {% for memory in memories %}
                <div class='item'>
                    <div class='memory'>{{ memory.text }}</div>
                    <div class='from'>{{ memory.sig }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}