{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Memories</div>

        <div id='page-content'>
            <div class='center button-spacer'>

                {% if 'type' in session %}
                    <div class='relative'>
                        <a href='review' class='button'>Review{% if count > 0 %}*{% endif %}</a>
                    </div>
                {% else %}
                    <a href='share' class='button'>Share a Memory</a>
                {% endif %}
            </div>

            {% if memories | length > 0 %}
                {% for memory in memories %}
                    <div class='item'>
                        <div class='memory'>{{ memory.text }}</div>
                        <div class='from'>{{ memory.sig }}</div>
                    </div>
                {% endfor %}

            {% else %}
                <div class='simple-text center'>No memories yet</div>
            {% endif %}
        </div>
    </div>
{% endblock %}