{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Change Password</div>

        <div id='page-content'>
            <form action='', method='POST'>
                <div><input type='password' class='input' name='3DMcpgW1TE20' placeholder='Old password'></div>
                <div><input type='password' class='input' name='jeexVIObu6vo' placeholder='New password'></div>

                <div><div class='form-button-wrapper'><input type='submit' class='form-button' name='submit' value='Save'></div></div>
            </form>
        </div>
    </div>
{% endblock %}