{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'><div class='relative'>Review{% if count > 0 %}<div class='count count-title'>{{ count }}</div>{% endif %}</div></div>

        <div id='page-content'>
            {% if memory %}
                <div class='item'>
                    <div class='memory'>{{ memory.text }}</div>
                    <div class='from'>{{ memory.sig }}</div>
                </div>

                <div class='center button-spacer'>
                    <a href='review/approve/{{ memory.id }}' class='button'>Approve</a>
                    <a href='review/reject/{{ memory.id }}'  class='button'>Reject</a>
                    <a href='review/skip/{{ memory.id }}'    class='button'>Skip</a>
                </div>

            {% else %}
                <div class='simple-text center'>Nothing to review right now</div>
            {% endif %}
        </div>
    </div>
{% endblock %}