{% extends 'layout.html' %}

{% block body %}
    <div id='page'>
        <div id='title'>Share</div>

        <div id='page-content'>
            <div class='simple-text'>Jaysin and Ashley invite you to share memories, stories, thoughts, or words of encouragement as they begin this new adventure together.</div>
            
            <form action='' method='POST'>
                <div><textarea class='input' name='text'></textarea></div>

                <div><input type='text' class='input' name='from' placeholder='From' autocomplete='off'></div>

                <div class='simple-text'>Share with...</div>

                <div class='center'>
                    <div class='form-button-wrapper'><input type='submit' class='form-button' name='submit' value='Everyone'></div>
                    <div class='form-button-wrapper'><input type='submit' class='form-button' name='submit' value='Jaysin and Ashley'></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}